[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-lib-go-committers
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-lib-go-committers
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-lib-go-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-lib-go-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	push = group ldap/hyperledger-gerrit-fabric-lib-go-committers
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[project]
	state = read only
